body {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgray;
}

main {
  margin: 100px auto 0;
  font-family: 'Lucida Sans', sans-serif monospace;
}


header {
  background-color: rgb(56 56 56 / 80%);
  border: 2px solid #383838;
  width: 860px;
  border-radius:  16px 16px 0 0;
  align-content: center;
  padding: 10px 0;
  margin: auto;
}

#title {
  text-align: center;
  color: #3F979B;
}

.inputs {
  display: flex;
  justify-content: space-evenly;
}

label {
  padding: 10px;
  font-size: 16px;
  color: #3F979B;
  font-weight: 700;
}

input {
  font-size: 16px;
  background-color:  #F2F2F2;
  border-radius: 8px;
  padding:6px 6px ;
  width: 120px;
  height: 20px;
}

button {
  width: 120px;
  height: 36px;
  margin-left:20px ;
  font-size: 16px;
  font-weight: 700;
  background-color:  #3F979B;
  border-radius: 12px;
}

button:hover {
  background-color: rgb(6, 97, 99, 0.7);
}

#types-of-calculations {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto ;
  padding: 20px 0;
  width: 860px;
  border: 2px solid #383838;
  background-color:  #066163;
  border-radius: 0 0 16px 16px;
}

.calculation {
  padding: 0 10px 12px;
  width: 250px;
  height: 80px;
  border: 1px solid black;
}

.calculation-name {
  font-size: 18px;
  color: #CDBE78;;
}

.result {
 color: #F2F2F2;
 font-size: 22px;
 font-weight: bolder;
 padding-left: 12px;
}
